ActiveRecord::Base.connection.execute("BEGIN TRANSACTION; END;")


	<p>
		<%= u.label :password_confirmation %>
		<br />
		<%= u.password_field :password_confirmation, placeholder: 'Retype the password'   %>
	</p>

<h2>Welcome <%= User.find(session[:user_id]).username %>!</h2>


<input class="btn-anim btn-drk anim-span" type="submit" name="test" value="Submit the Post">
<input class="btn-anim btn-mid-drk anim-span" type="submit" name="test" value="Submit the Post">
<input class="btn-anim btn-mid anim-span" type="submit" name="test" value="Submit the Post">
<input class="btn-anim btn-mid-lite anim-span" type="submit" name="test" value="Submit the Post">
<input class="btn-anim btn-lite anim-span" type="submit" name="test" value="Submit the Post">

asset_path('glyphicons-halflings-regular.ttf')

<%= link_to "Vote Up", '/posts/process_vote/<%= @post.id %>' %>