/*
color scheme
darkest
	#091534
	#1E3471
	#213B82
palest
text
	#DBE5FF
*/
$bd: #091534;
$bmd: #1E3471;
$bm: #213B82;
$bml: #17a2b8;
/*$bml: #D4EDF7;*/
$bl: #7eacdc;
$bt: #DBE5FF;

.btn-anim {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0px solid #213B82;
	height: 40px;
	width: 140px;
	color: $bt;
	cursor: pointer;

	-webkit-transition: width 0.5s, border 0.5s; /* Safari */
  	transition: width 0.5s, border 0.5s;
}

.btn-anim-vote {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	cursor: pointer;

	-webkit-transition: width 0.5s, border 0.5s; /* Safari */
  	transition: width 0.5s, border 0.5s;
}

.btn-drk {
	background-color: #091534;
}
.btn-drk:hover {
	border-bottom: 5px solid #17a2b8 !important;
}

.btn-mid-drk {
	background-color: #1E3471;
}

.btn-mid-drk:hover {
	border-bottom: 5px solid #17a2b8 !important;
}

.btn-mid {
	background-color: #213B82;
}
.btn-mid:hover {
	border-bottom: 5px solid #17a2b8 !important;
}

.btn-mid-lite {
	background-color: #17a2b8;
}

.btn-lite {
	background-color: #7eacdc;
	color: #091534;
}

.btn-voteup {
	font-size: 2em;

	line-height: 1px;

	height: 40px;
	width: 40px;
}

.btn-votedown {
	font-size: 2em;

	line-height: 1px;
	
	height: 40px;
	width: 40px;
	
}
.btn-voteup:hover {
		background: #1bb76e;
		border-bottom: 6px solid #1bA06e !important;
}
.btn-votedown:hover {
		background: #830d1d;
		border-bottom: 6px solid #750d1d !important;
}


.anim-span:hover {
	width: 100% !important;
	/*margin-left: -25% !important;*/
	border-bottom: 5px solid #213B82;

	-webkit-transition: width 1s, border 1s; /* Safari */
  	transition: width 1s, border 1s;
}