// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/
$bd: #091534;
$bmd: #1E3471;
$bm: #213B82;
$bml: #17a2b8;
/*$bml: #D4EDF7;*/
$bl: #7eacdc;
$bt: #DBE5FF;

@mixin link_reset {
	color: $bd;
	text-decoration: underline;
	font-weight: bold;

}

@-webkit-keyframes transparency {
    0%   { opacity: 0; /* Google Chrome & Webkit Nightlies */}
    100% { opacity: 1; /* Google Chrome & Webkit Nightlies */ }
}

.anim-fade-in {
	-webkit-animation: transparency 2s 1;
	/*animation: transparency 2s 1;*/
}

.dashboard-header {
	/*margin: 0 0 0 -50% !important;*/
	/*height: 184px !important;*/
	background: #1E3471;
	/*padding: 4rem 2rem;*/

	padding-top: 20px;
	padding-bottom: 20px;
	/*background-size: cover;*/
	/*width: 100% !important;*/
	
	max-height: 250px;
}


@media only screen and (min-width: 1537px) {
	.dashboard-wrapper {
		margin-left: 10%;
		margin-right: 10%;

		grid-template-columns: 50% 50%;
		grid-template-rows: 65vh 65vh;
	
	}
}
@media only screen and (max-width: 1536px) {
	.dashboard-wrapper {
		margin-left: 20%;
		margin-right: 20%;

		grid-template-columns: 50% 50%;
		grid-template-rows: 65vh 65vh;

	}
}
@media only screen and (max-width: 1366px) {
	.dashboard-wrapper {
		/*margin-left: 10%;
		margin-right: 10%;*/
		grid-template-columns: 50% 50%;
		grid-template-rows: 65vh 65vh;
	
	}

}
@media only screen and (max-width: 1280px) {
	.dashboard-wrapper {
		margin-left: 0%;
		margin-right: 0%;
		grid-template-columns: 50% 50%;
		grid-template-rows: 65vh 65vh;
	
	}

}
@media only screen and (max-width: 720px) {
	.dashboard-wrapper {
		margin-left: 10%;
		margin-right: 10%;
		grid-template-columns: 100%;
		grid-template-rows: 65vh 65vh 65vh 65vh;
	}

}
@media only screen and (max-width: 480px) {
	.dashboard-wrapper {
		margin-left: 0%;
		margin-right: 0%;
		grid-template-columns: 100%;
		grid-template-rows: 65vh 65vh 65vh 65vh;
	}
	.dashboard-img {
		max-height: 45%;
		max-width: 45% !important;
	}
}

.dashboard-wrapper {
	margin-top: 50px;
	display: grid;
	
	.dashboard-tile {
		/*border: 1px solid white;*/
		padding: 5px 20px 5px 20px;
	}

}
/*@ TODO NIE DZIAŁA KURŁŁŁŁ */
.align-topdown {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: stretch;*/
}

.dashboard-img {
	/*max-height: 60%;*/
	max-width: 40%;
	margin: auto;
	padding-bottom: 5%;
}

.list-oveflow {
	overflow-y: scroll;
	/*overflow-x: hidden;*/
}

.dashboard-bio {
	max-height: 80% !important;
	height: 80% !important;
}
.tl {
	background-color: $bm;


}
.tr {
	background-color: $bml;
	color: $bd;
	hr {
		background-color: $bd;
	}
	a { @include link_reset; }
	a:hover {
		@include link_reset;
		color: $bt;
	}
}
.bl {
	background-color: $bl;
	color: $bd;
	hr {
		background-color: $bd;
	}

}
.br {
	background-color: $bmd;

}

.dashboard-post-list {
	font-size: 10pt;
	list-style-type: square;
	li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			p {
				margin-bottom: 5px; 
				margin-left: -35px;
			}
	}
}



/*

#091534
#1E3471
#213B82
#17a2b8
#7eacdc

*/